[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
aiohttp = "*"
aiofiles = "*"
lxml = "*"
beautifulsoup4 = "*"

[dev-packages]
pre-commit = "*"
book-downloader = {editable = true, path = "."}

[requires]
python_version = "3.11"
